@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px; /* Reset to normal */
}
html {
  scroll-behavior: smooth;
}
.animated-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.animated-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #0080FF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.animated-link:hover::after {
  transform: scaleX(1);
}
/* Hide scrollbar but keep scrolling functional */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}